{% extends 'BaseExtend.html' %}
{% load static %}


    <main>
        <!-- Aquí va el contenido principal de la página -->
        {% block content %}
        <br> 
        <center>
            <h1 text-aling="center"> ANALÍTICA AVANZADA </h1>

            <p><h5> 
            Integramos técnicas de minería de datos, machine learning e inteligencia artificial 
            agilizando la toma de desiciones y contribuyendo al proceso de madurez con analítica
            avanzada.  

            </h5></p>
        
        
            <br>
            <br>

            
            <div class="contenedor">
                <div class="box">
                    <p > DESCRIPTIVE  <br> ANALYTICS </p>
                </div>
                <div class="box">
                    <p> PREDICTIVE <br> ANALYTICS</p>
                </div>
                <div class="box">
                    <p> PRESCRIPTIVE  <br> ANALYTICS </p>
                </div>
                <div class="box">
                    <p> EXPLOTATORY DATA <br> ANALYTICS</p>
                </div>
            </div>
        </center>

        
        {% endblock %}        
    </main>
  