
{% extends 'BaseExtend.html'%}
{% load static %}
<main>
  {% block content %}
  <br> 
  <div class="container" style="background-color: #f5f0f0; padding: 2%; border-radius: 1%;" >
  <br> 
    
  <!-- Productos -->
  <!-- NUESTRAS SERVICIOS-->
  <div class="jumbotron top-space align-items-center">
    <div class="container" >
      
      <h3 class="text-center thin" style="color:#141414;"><b>NUESTROS SERVICIOS</b> </h3>
      
      <div class="row ">

        <div class="col-md-6  ">
          <a class="nav-link" href="{% url 'AnaliticaAvanzada' %}">
          <div style="text-align: center;">
            <div class="h-caption" >
              <img class="el-image"  src="{% static 'images/analiticaavanzada.jpg' %}" alt='artsy Hong' width="400" height="250">
              <h4>ANALÍTICA AVANZADA</h4>
            </div>
          </div>
          </a>
        </div>

        <div class="col-md-6  ">
          <a class="nav-link" href="{% url 'IngenieroDatos' %}">
          <div style="text-align: center;">
            <div class="h-caption" >
              <img class="el-image" src="{% static 'images/ingenierodatos.jpg' %}" alt='artsy Hong' width="400" height="250">
              <h4>INGENIERÍA DE DATOS </h4>
            </div>
          </div>
          </a>
        </div>
        
      </div> 

      <div class="row row-centered">

        <div class="col-md-6  ">
          <a class="nav-link" href="{% url 'FormacionCapacitacion' %}">
          <div style="text-align: center;">
            <div class="h-caption" >
              <img class="el-image" src="{% static 'images/formacioncapacitacion.jpg' %}" alt='artsy Hong' width="400" height="250">
              <h4>FORMACIÓN Y CAPACITACIÓN </h4>
            </div>
          </div>
          </a>
        </div>
        <div class="col-md-6 " >
          <a class="nav-link" href="{% url 'LaboratorioData' %}">
          <div style="text-align: center;">
            <div class="h-caption" >
              <img class="el-image" src="{% static 'images/laboratoriobisdata.jpg' %}" alt='artsy Hong' width="400" height="250">
              <h4>LABORATORIO DE CIENCIAS DE LA COMPUTACIÓN E INTELIGENCIA ARTIFICIAL</h4>
            </div>
          </div>
          </a>
        </div>

      </div> 
    
    </div>
  </div>
</div>

<br> 

<div class="container" style="background-color: #f5f0f0; padding: 2%; border-radius: 1%;" >

<div class="jumbotron top-space align-items-center">
  <div class="container" >
    
    <h3 class="text-center thin" style="color:#141414;"><b>CO-FUNDADORES</b> </h3>
    
    <div class="row ">

      <div class="col-md-6  ">
        <a class="nav-link" >
        <div style="text-align: center;">
          <div class="h-caption" >
            <img class="el-image"  src="{% static 'images/foto_alexis.png' %}" alt='artsy Hong' width="400" height="250">
            <h4>Anderson Alexis Ruales</h4>
          </div>
          <p style="text-align:justify;">Estudiante doctoral en física de altas energías, con más de 3 años
            de experiencia en ciencia e ingeniería de datos. Experto en visión 
            artificial, Big Data, Machine Learning, Inteligencia Artificial y Visualización Analítica. 
            Experiencia en implementar soluciones orientadas a problemas comerciales complejos.   
          </p>
        </div>
        </a>
      </div>

      <div class="col-md-6  ">
        <a class="nav-link">
        <div style="text-align: center;">
          <div class="h-caption" >
            <img class="el-image" src="{% static 'images/foto_josue.png' %}" alt='artsy Hong' width="400" height="250">
            <h4>Josue Serna</h4>
          </div>
          <p style="text-align:justify;">Estudiante universitario, formación en ciencia y entrenamiento internacional
            en analítica de datos. </p>
        </div>
        </a>
      </div>
      
    </div> 


  </div> 
  
  </div>
</div>
</div>
</div>

<br> 



  {% endblock %}     
</main>
