{% extends 'BaseExtend.html' %}

{% load static %}

<main>
    <!-- Aquí va el contenido principal de la página -->
    {% block content %}
    <br> 
    <center>
        <h1 text-aling="center"> FORMACIÓN Y CAPACITACIÓN </h1>

        <p><h5> 
        Formamos y capacitamos a departamentos de compañias que requieran cientifícos e ingenieros
        de datos, revolucionando completamente las compañias para mejorar su funcionamiento. Al 
        automatizar tareas, las compañias pueden liberar al capital humano para enfocarlo en aspectos
        mas relevantes del proceso productivo.  

        </h5></p>
    
    
        <br>
        <br>

        
        <div class="contenedor">
            <div class="box">
                <p > DIAGNÓSTICO</p>
            </div>
            <div class="box">
                <p> FORMACIÓN</p>
            </div>
            <div class="box">
                <p> APLICACIÓN</p>
            </div>
        </div>
    </center>

    {% endblock %}        
</main>
