{% extends 'BaseExtend.html' %}
{% load static %}

<main>
    <!-- Aquí va el contenido principal de la página -->
    {% block content %}
    <br> 
    <center>
        <h1 text-aling="center"> INGENIERÍA DE DATOS </h1>

        <p><h5> 
        Muchas soluciones de Analítica se desmoronan cuando llega el momento de escalar
        a mas datos, por esto pensamos en arquitecturas a hiperescala con un rendimiento
        eficiente.   

        </h5></p>
    
    
        <br>
        <br>

        
        <div class="contenedor">
            <div class="box">
                <p > SOFTWARE <br> ARCHITECTURE </p>
            </div>
            <div class="box">
                <p> STRATEGIC <br> DASHBOARDS </p>
            </div>
            <div class="box">
                <p> DATA <br> PROCESSING </p>
            </div>
            <div class="box">
                <p> QUALITY <br> EFFICIENCY</p>
            </div>
        </div>
    </center>
    
    {% endblock %}        
</main>
