{% extends 'BaseExtend.html' %}
{% load static %}

<main>
    <!-- Aquí va el contenido principal de la página -->
    {% block content %}
    <br>
    <center>
        <h1 text-aling="center"> LABORATORIO </h1>

        <p><h5>
        Desarrollamos modelos y técnicas de análisis a la medida,
        generando soluciones adaptadas a las necesidades de cada
        cliente. Soluciones de IA que permiten hacer mejor uso de la
        información,  proveer  nuevos  servicios  y  mejorar
        operaciones.

        </h5></p>


        <br>
        <br>


        <div class="contenedor">
            <div class="box">
                <p > CONOCER <br> NECESIDAD </p>
            </div>
            <div class="box">
                <p> INVESTIGACIÓN E <br> IMPLEMENTACIÓN</p>
            </div>
            <div class="box">
                <p> PROPONER <br> SOLUCIÓN </p>
            </div>
        </div>
    </center>

    {% endblock %}
</main>
 