{% extends 'BaseExtend.html' %}
{% load static %}

<main >
    <!-- Aquí va el contenido principal de la página -->
    {% block content %}
    <br> 
        <center>
            <h1 text-aling="center"> ¿QUIENES SOMOS? </h1>

            <p><h5>
                Un grupo multidisciplinario de cientifícos, ingenieros, financieros, soñadores que compartimos
                una pasión por la ciencia, la tecnología y con ellos acelerar los procesos de las compañias y 
                transformar la vida de las personas.  
            </h5></p>
        
        
            <br>
            <br>

            
            <div class="contenedor">
                <div class="box">
                    <p > COMPONENTE <br> HUMANO</p>
                </div>
                <div class="box">
                    <p> COMPONENTE TÉCNICO-<br> CIENTÍFICO</p>
                </div>
                <div class="box">
                    <p> COMPONENTE <br> INNOVADOR</p>
                </div>
               
            </div>
        </center>


    {% endblock %}        
</main>

 